html {
  font-size: 18px;
  line-height: 1.4px;
  font-family: helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* this is the non header parts of eye_candy div */

#eye_candy {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#slogan {
  color: black;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2rem;
  background-color: white;
  text-transform: uppercase;
  margin-top: 10rem;
  padding: 2.5rem 5rem;
  margin-left: 24rem;
}


/* This is the header */

header {
  background-color: cadetblue;
  max-width: 960px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1rem;
  color: white;
  height: 3rem;
}

header li {
  display: inline-block;
  padding-right: 2rem;
  font-size: 1rem;
}

header img {
  height: 1.5rem;
  padding-left: 2rem;
}

header p {
  margin-right: auto;
  padding-left: 1rem;
  font-size: 1rem;
}

/* This is the main part of the webpage */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* This is the icon row */

#icon_row {
  display: flex;
  height: 8rem;
  margin: 3rem 0;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 3rem;
  justify-content: space-between;
}

.icon p {
  text-align: center;
  line-height: 1.4rem;
}

.icon_one img {
  width: 3.5rem;
}

.icon_two img {
  width: 5rem;
}

.icon_three img {
  width: 5rem;
}

/* This is the info row */

#info_row {
  display: flex;
  max-width: 960px;
  width: 100%;
  justify-content: center;
}

.info_box h4 {
  background-color: cadetblue;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  padding: 0.9rem 0 0.9rem 1.5rem;
  width: 10rem;
  margin-bottom: 1rem;
}

.info_box p {
  line-height: 1.4rem;
}

.info_box {
  width: 35%;
  margin: 0 2.5%;
}

/* This is the footer */

footer {
  background-color: azure;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.container_footer {
  display: flex;
  align-items: center;
  max-width: 960px;
  width: 100%;
}

.container_footer img {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}
