html {
  font-size: 18px;
  line-height: 1.4px;
  font-family: helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* this is the non header parts of eye_candy div */

#eye_candy {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#slogan {
  color: black;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2rem;
  background-color: white;
  text-transform: uppercase;
  margin-top: 10rem;
  padding: 2.5rem 5rem;
  margin-left: 24rem;
}


/* This is the header */

header {
  background-color: cadetblue;
  max-width: 960px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1rem;
  color: white;
  height: 3rem;
}

header li {
  display: inline-block;
  padding-right: 2rem;
  font-size: 1rem;
}

header img {
  height: 1.5rem;
  padding-left: 2rem;
}

header p {
  margin-right: auto;
  padding-left: 1rem;
  font-size: 1rem;
}

header h4 {
  display: none;
}

/* This is the main part of the webpage */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* This is the icon row */

#icon_row {
  display: flex;
  height: 8rem;
  margin: 3rem 0;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 3rem;
  justify-content: space-between;
}

.icon p {
  text-align: center;
  line-height: 1.4rem;
}

.icon_one img {
  width: 3.5rem;
}

.icon_two img {
  width: 5rem;
}

.icon_three img {
  width: 5rem;
}

/* This is the info row */

#info_row {
  display: flex;
  max-width: 960px;
  width: 100%;
  justify-content: center;
}

.info_box h4 {
  background-color: cadetblue;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  padding: 0.9rem 0 0.9rem 1.5rem;
  width: 10rem;
  margin-bottom: 1rem;
}

.info_box p {
  line-height: 1.4rem;
}

.info_box {
  width: 35%;
  margin: 0 2.5%;
}

/* This is the footer */

footer {
  background-color: azure;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.container_footer {
  display: flex;
  align-items: center;
  max-width: 960px;
  width: 100%;
}

.container_footer img {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}

/* ~~~~~~~~~~~~THIS IS STYLING FOR MEDIUM SCREENS~~~~~~~~~~~~~~~~ */

@media only screen and (max-width: 1041px) {

  /* This is the eye_candy div*/

  #eye_candy {
    align-items: flex-end;
    height: 22rem;
  }

  header {
    margin-top: 0;
    max-width: none;
  }

  #slogan {
    font-size: 1.33rem;
    margin: 5rem 2rem 0 0;
    padding: 1.8rem 4rem;
  }

}

/* ~~~~~~~~~~~~THIS IS STYLING FOR small SCREENS~~~~~~~~~~~~~~~~ */

@media only screen and (max-width: 660px) {

  /* This is the eye_candy div*/

  #eye_candy {
    height: 17rem;
  }

  #slogan {
    width: 100%;
    margin: 9rem 0 0 0;
    padding: 1rem 0;
    font-size: 1rem;
    text-align: center;
  }

  header p,
  header ul {
    display: none;
  }

  header h4 {
    display: inherit;
    padding-right: 2rem;
  }

  header img {
    margin-right: auto;
  }

  /* This is the main part of the webpage */

  main {
    width: 100%;
  }

  /* This is the icon_row */

  #icon_row {
    flex-direction: column;
    height: auto;
    margin: 3.77rem 0;
  }

  .icon_two img,
  .icon_three img {
    margin-top: 2rem;
  }

  .icon p {
    font-size: 0.77rem;
    line-height: 1rem;
    padding-top: .8rem;
  }

  /* This is the info_row */

  #info_row {
    flex-direction: column;
    justify-content: flex-start;
  }

  .info_box {
    width: inherit;
    margin: 0 0 4rem 0;
  }

  .info_box h4 {
    padding: 0.9rem 0;
    width: inherit;
    text-align: center;
  }

  .info_box p {
    font-size: 0.77rem;
    line-height: 1rem;
    padding-left: .5rem;
    max-width: 475px;
    padding-right: .5rem;
  }

  /* This is the footer */

  footer p {
    display: none;
  }

  .container_footer {
    justify-content: center;
  }

  .container_footer img {
    height: 1.5rem;
    padding: 4rem 0;
  }

}
